*{
  font-family: 'Telex', sans-serif;
}

#poetry {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 3%;
}

/***body***/
body{
  background-color: #E4E4DC;
}

/***title***/
#title {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

/***bodytext***/
#bodytext {
  margin-top: 4%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

/***aboutmobiustext***/
#aboutmobius {
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 15px;
}

/***mobstrip***/
#mobstrip {
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 15px;
}

/***breaktext***/
#breaktext {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 15px;
}

/***bulktext***/
#bulktext {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 15px;
}

/***thumbs***/
#thumbs{
  margin-left: 25%;
  margin-right: 25%;
}

/***carousel***/
.carousel {
      margin-bottom: 60px;
      margin-left: 25%;
      margin-right: 25%
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }